[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pyairtable = "*"
python-dotenv = "*"
angle-emb = "*"
selenium = "*"
pillow = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
markdown = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
